In [28]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [29]:
url = 'https://www.scrapethissite.com/pages/forms/'

In [30]:
page = requests.get(url)

In [31]:
soup = BeautifulSoup(page.text, 'html')

In [32]:
#print(soup.prettify())

Find and Find_all

In [33]:
# Find all <tr> elements which represent rows in the table
rows = soup.find_all('tr')

# Extract the table headers from the first <tr> element and remove '\n'
headers = [header.get_text(strip=True) for header in rows[0].find_all('th')]

# Initialize an empty list to store the data rows
data_list = []

# Loop through the remaining rows to extract the data and remove '\n'
for row in rows[1:]:
    data_cells = row.find_all('td')
    data = [data_cell.get_text(strip=True) for data_cell in data_cells]
    data_dict = dict(zip(headers, data))
    data_list.append(data_dict)

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data_list)

# Display the DataFrame
df.head()

,Team Name,Year,Wins,Losses,OT Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
0,Boston Bruins,1990,44,24,,0.55,299,264,35
1,Buffalo Sabres,1990,31,30,,0.388,292,278,14
2,Calgary Flames,1990,46,26,,0.575,344,263,81
3,Chicago Blackhawks,1990,49,23,,0.613,284,211,73
4,Detroit Red Wings,1990,34,38,,0.425,273,298,-25

In [34]:
url = 'https://www.marketwatch.com/markets?mod=top_nav'

In [35]:
page = requests.get(url)

In [36]:
soup = BeautifulSoup(page.text, 'html')

In [37]:
rows = soup.find_all('tr')

In [38]:
headers = [header.get_text(strip =True) for header in rows[0].find_all('th')]

In [39]:
data_list = []
for row in rows[1:]:
    data_cells = row.find_all('td')
    data = [data_cell.get_text(strip = True) for data_cell in data_cells]
    data_dict = dict(zip(headers, data))
    data_list.append(data_dict)
df = pd.DataFrame(data_list)
df.head(10)

             Ticker                          Name       Last     Chg   Chg %
0              DJIA  Dow Jones Industrial Average  35,411.24  183.55   0.52%
1               SPX                 S&P 500 Index   4,554.64   18.30   0.40%
2              COMP        NASDAQ Composite Index  14,058.87   26.06   0.19%
3              GDOW       Global Dow Realtime USD   4,212.34   12.05   0.29%
4       TMUBMUSD10Y    U.S. 10 Year Treasury Note     3.873%   0.032
5  NaN          NaN                           NaN        NaN     NaN     NaN
6               UKX                FTSE 100 Index   7,678.59   14.86   0.19%
7               DAX      Global X DAX Germany ETF     $29.97   -0.18  -0.60%
8               PX1                  CAC 40 Index   7,427.31   -5.46  -0.07%
9              I945                FTSE MIB Index  28,908.42   53.33   0.18%